h1.title {
  text-align: center;
  font: 2em "Inconsolata", sans-serif;
  margin-bottom: 5%;
}

body{
  background-color: #4d4d4d;
}

p.mainbox {
  font: 60px "Inconsolata", sans-serif;
  text-align: right;
  display: block;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 95%;
  height: 65px;
  border: 3px solid black;
  padding: 1%;
  border-radius: 10px;
  background-color: #e6e6e6;
  text-overflow: clip;
}

.calc{
  text-align: center;
  margin: auto;
  border: 3px solid black;
  width: 450px;
  background-color: #737373;
  border-radius: 20px;
  min-width: 450px;
}

.numpad{
  margin: 2%;
  text-align: center;
}

button.num {
  width: 100px;
  height: 100px;
  margin: 2px;
  font: 30px "Inconsolata", sans-serif;
  border-radius: 30px;
  color: #d9d9d9;
  background-color: #333333;
}

button.num0{
  width: 208px;
  height: 100px;
  margin: 2px;
  font: 30px "Inconsolata", sans-serif;
  border-radius: 30px;
  color: #d9d9d9;
  background-color: #333333;
}

button:hover{
  background-color: #33cc33;
  color: #262626;
}
